body{
    background-color: aquamarine;
}

form.login{
    width:350px;
    height: 120px;
    border: 1px dotted black;
    margin:200px auto;
    padding-top: 50px;
    padding-left: 50px;
}

#join_quiz div{
    margin-bottom: 10px;

}
#join_quiz div span{
    min-width: 90px;
    display: inline-block;

}