.host .participant {
    float: left;
    width: 27%;
    min-height: 100px;
    margin: 5px;
    border: 1px solid red;
    padding: 15px;
}

.host #showParticipants {
    display: inline-block;
    width: 100%;
}

.host #showParticipants h1,
.host #showParticipants h3 {
    margin-left: 20%;
}

.host #mainBlock {
    width: 768px;
    min-height: 550px;
    margin: 0 auto;
    background-color: lightsteelblue;
    position: relative;
}

.host #mainBlock #showQuestion,
.host #mainBlock #showResult{
    display: none;
}

.host #mainBlock #showQuestion #question{
    margin: 40px;
    display: inline-block;
    font-size: 3rem;
}

.host #mainBlock #showQuestion #nextQButton{
    position: absolute;
    bottom: 100px;
    right: 75px;
}


.host #reset{
    color: red;
    position: absolute;
    bottom: 0;

    margin: 20px;
}




.host #startButton {
    float: none;
    margin: 30px;
    display: none;
}

.host .participant.color0 {
    background-color: aqua;
}

.host .participant.color1 {
    background-color: mediumslateblue;
}

.host .participant.color2 {
    background-color: cadetblue;
}

.host .participant.color3 {
    background-color: darkcyan;
}

.host .participant.color4 {
    background-color: cornflowerblue;
}

.host .participant.color5 {
    background-color: dodgerblue;
}

.host .participant.color5 {
    background-color: deepskyblue;
}

.host .participant.color6 {
    background-color: mediumslateblue;
}

.host .participant.color7 {
    background-color: royalblue;
}

.host .participant.color8 {
    background-color: steelblue;
}

.host .participant.color9 {
    background-color: lightskyblue;
}

.client #mainBlock #showMultipleAnswer #answer0 {
    background-color: darkgoldenrod;
}

.client #mainBlock #showMultipleAnswer #answer1 {
    background-color: firebrick;
}

.client #mainBlock #showMultipleAnswer #answer2 {
    background-color: olivedrab;
}

.client #mainBlock #showMultipleAnswer #answer3 {
    background-color: teal;
}


.client #mainBlock {
    width: 80%;
    margin: 5%;
    padding: 5%;
    min-height: 400px;
    margin: 0 auto;
    background-color: lightsteelblue;
}

.client #mainBlock #showMultipleAnswer .answer {
    width: 40%;
    margin: 3%;
    display: inline-block;
    min-height: 100px;
    padding: 50px 10px 10px;
    font-size: 2rem;
}

.client #mainBlock #showMultipleAnswer .answer.selected::before {
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 0px 0 0px;
    content: " ";
    background: url(gfx/tick_grey.png) no-repeat 0 0;
    background-size: 100%;
}

.client #mainBlock #showMultipleAnswer .answer.correct::after{
    display: inline-block;
    width: 32px;
    height: 32px;
    margin: 0px 0px 0 0px;
    content: " ";
    background: url(gfx/tick_green.png) no-repeat 0 0;
    background-size: 100%;
}

.client #mainBlock #showMultipleAnswer .answer.correct,
.client #mainBlock #showMultipleAnswer .answer.selected {
    padding: 33px 10px 27px;
}

.client #mainBlock #showMultipleAnswer{
    display: none;
}

.client #showResult {
    display: none;
}